body {
    font-size: 1.5vw;
    font-family: "Source Code Pro", monospace;
    letter-spacing: 0.2vw;
    color: rgb(132, 167, 165);
    background-color: rgb(61, 34, 34);
}


.commentxt {
    color: rgba(143, 148, 146, 0.67);
}
.teal {
    color: rgb(106, 159, 158);
}
.wh {
    color: rgb(161, 142, 95);
    font-weight: lighter;
}
.reddrk {
    color: brown;
}
.redlite {
    color: #ff3f45;
}
.mango {
    color: rgb(175, 99, 29);
}
.aqua{
    color: rgb(112, 189, 194);
}
.bldk {
 color: rgb(30, 31, 41);
 font-family: Helvetica;
 line-height: 2vw;
}
.pinkish {
    color: rgb(237, 162, 162);
}
.lemon {
    color: rgb(217, 202, 105);
}
.gr {
    color: rgb(84, 120, 97);
    font-weight: bolder;
}
.chtitle {
    color: rgb(94, 155, 185);
    font-family: "Source Code Pro", monospace;

}
.ivr {
    color: wheat;
    font-family: Corsiva;
}
.blLite {
    color: rgb(136, 191, 218);
}
.ltgr {
    color: rgb(136, 218, 189);
}
.hilite2 {
    color: #6bf57f;
    font-family: "Source Code Pro", monospace;
    /* font-weight: 700; */
}
.ltbg {
    background-color: rgba(225, 237, 237, 0.16);
}
.testbox {
    width: 85vw;
    margin: 2vw;
    padding: 3%;
    color: rgb(203, 184, 136);
    background-color: rgba(104, 133, 129, 0.5);
    box-shadow: 10px 10px 25px black;
    font-family: monospace;
    font-size: 1.8vw;
    font-weight: bold;
}
.squatbox {
    line-height: .8vw;
    width: 50vw;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.47);
    padding-top: .5vw;
    margin: auto 20vw 1vw 20vw
}
.squatbox2 {
    line-height: 2vw;
    width: 85vw;
    margin-left: 0px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.47);
    font-size: 1.5vw;
    font-family: "Source Code Pro", monospace;


}

.compact {
    color: wheat;
    margin: auto 20vw;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5vw;
    padding: 2% 2% 1% 2%;
    background-color: rgb(92, 127, 142);
    width: 50;
    border: 1px solid wheat;
}
.compact2 {
    color: rgba(169, 194, 157, 1);
    margin: auto 15vw;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5vw;
    padding: 2% 2% 1% 2%;
    background-color: rgba(37, 70, 89, 1);
    width: 50;
    border: 1px solid wheat;
}
.compact3 {
    color: rgba(169, 194, 157, 1);
    margin: auto 5vw;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5vw;
    padding: 2% 2% 1% 2%;
    background-color: rgb(51, 80, 52);

    border: 1px solid white;
}

.txtbox {/*outer*/
    /*position: relative;*/
    width: 90vw;
    margin: 1vw;
    padding: 1%;
    color: wheat;
    border: 1px solid rgb(84, 39, 10);
    background-color: rgba(39, 62, 50, 0.78);
    font-family: sans-serif;
    font-size: 2.5vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}
.outbox {
    width: 90vw;
    margin: 2vw 1vw;
    padding: 2%;
    color: rgb(173, 173, 149);
    background-color: rgba(238, 97, 97, 0.2);
    border: 2px solid black;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}
.outbox2 {
    width: 90vw;
    margin: 1vw;
    padding: 2%;
    color: rgba(164, 160, 136);
    border: 1px solid coral;
    background-color: rgba(40, 42, 44, .75);
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}

.outbox3 {
    width: 90vw;
    margin: 1vw;
    padding: auto;
    color: rgba(255, 206, 166, 1);
    border: 1px solid white;
    background-color: rgb(50, 74, 54);
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    letter-spacing: 0.2vw;
    /*position: absolute;*/
}

.outbox4 {
    width: 90vw;
    margin: 1vw;
    padding: 2%;
    color: rgba(164, 160, 136);
    border: 1px solid coral;
    background-color: rgba(0, 166, 7, 0.24);
    font-family: "Source Code Pro", monospace;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}

.outbox5 {
    width: 90vw;
    margin: 1vw;
    padding: 2%;
    color: rgb(204, 204, 202);
    border: 2px solid black;
    background-color: rgba(119, 159, 156, 0.21);
    font-family: "Source Code Pro", monospace;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}

.innerboxN {
    width: 40vw;
    margin: 1vw 10vw auto 10vw;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: rgb(173, 88, 73);
    box-shadow: 10px 10px 25px black;
    font-family: "Source Code Pro";
    font-size: 1.8vw;
}
.left {
    text-align: left;
}
.innerboxW {
    width: 80vw;
    margin: 1vw 10vw auto 10vw;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: rgba(161, 142, 95, 0.67);
    box-shadow: 10px 10px 25px black;
    font-family: "Source Code Pro";
    font-size: 1.4vw;
}
.innerboxLeft {
    width: 60vw;
    margin: 1vw 10vw auto 10vw;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: rgb(173, 88, 73);
    box-shadow: 10px 10px 25px black;
    font-family: "Source Code Pro";
    font-size: 1.8vw;
}
.innerbox2 {
    width: 75vw;
    margin: 1vw 10vw auto 2vw;
    padding: 1%;
    color: black;
    box-shadow: 5px 5px 15px black;
    font-family: "Lucida Console", sans-serif;
    font-size: 1.5vw;
    background-color: rgba(205, 10, 10, 0.22);
}

.innerbox3 {
    width: 85vw;
    margin: 1vw auto auto 2vw;
    padding: 1%;
    color: black;
    border: 1px solid navy;
    background-color: rgba(219, 180, 93, 0.72);
    box-shadow: 10px 10px 25px black;
    font-family: "Source Code Pro", monospace;
    font-size: 1.7vw;
    font-weight: 700;
}

.innerbox4 {
    width: 75vw;
    margin: 1vw auto auto 1vw;
    padding: 1%;
    color: deepskyblue;
    border: 1px solid maroon;
    background-color: dimgray;
    box-shadow: 5px 5px 15px black;
    font-family: "Source Code Pro", monospace;
    font-size: 1.7vw;
    font-weight: 400;
}

.grtransbox {
    width: 90vw;
    margin: 1vw;
    padding: 1%;
    color: rgb(255, 234, 145);
    background-color: rgba(52, 60, 56, 0.78);
    border: 1px solid white;
    box-shadow: 5px 5px 15px black;
    font-family: "Source Code Pro", monospace;
    font-size: 1.7vw;
    font-weight: 400;
}

.ans {
    padding: 0;
    -webkit-filter: blur(10px);
    font-family: "Source Code Pro", monospace;
    display: inline;
    font-size: inherit;
    font-weight: bold;
    font-size: 1.8vw;
    opacity: 1%;
}
.ans:hover {
    /*-webkit-filter: blur(0px);*/
    animation: blurtxt .5s 1 forwards;
}
@-webkit-keyframes blurtxt {
    0% {
        -webkit-filter: blur(5px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        opacity: 1;
    }
}

.ctr {
    text-align: center;
}
code {
    font-size: 1.8vw;
    font-family: "Source Code Pro", monospace;
}

.b {
    font-weight: bold;
}
#bigpic {
    width: 60%;
}

.list1> li {
    color: rgb(78, 199, 173);
    font-family: Georgia;
}
.warn {
    color: rgb(204, 99, 99);
}

a {
color: rgba(15, 85, 52, 0.74);
  color: maroon;
  text-decoration: none;

}

.formal {
    font-family: times;
}

.informal {
    font-family: italic;
}

.underline {
    text-decoration: underline;
}

p {
    font-size: 1.5vw;
    color: ivory;
}
.sm {
    font-size: 1.3vw;
}
.med {
    font-size: 1.5vw;
    color: ivory;
}

li {
    font-size: 1.5rem;
    list-style: none;
}
.box {
    padding: auto, 30%, auto, 30%;
    text-align: left;
    border: 1px solid orange;
    font-family: sans-serif;
}
.box2 {
    /*padding: 5% 30%;*/
    margin: 0% 5%;
    color: rgb(157, 209, 208);
    box-shadow: 10px 5px 5px black;
    border: 1px solid white;
    text-align: left;
    background-color: rgba(153, 32, 32, 0.29);
}
.lavenbox {
    /*padding: 5% 30%;*/
    color: rgb(133, 184, 175);
    margin: 0% 1%;
    font-size: 1.7vw;
    border: 1px solid ivory;
    text-align: left;
    background-color: rgba(205, 10, 10, 0.12);
}
.htmlbox {
    width: 90vw;
    color: black;
    padding: 1%;
    margin: 5% 3%;
    font-size: 1.7vw;
    border: 1px solid lightblue;
    background-color: rgba(191, 134, 134, 0.43);
}

.jsbox {
    color: rgb(27, 46, 61);
    padding: 0% 1%;
    margin: 0% 3%;
    font-size: 1.5vw;
    border: 1px solid rgb(166, 147, 80);
    background-color: rgb(255, 244, 149);
    font-weight: bold;
}
.cssbox {
    color: ivory;
    padding: 0% 1%;
    margin: 0% 3%;
    font-size: 1.5vw;
    border: 2px solid orange;
    background-color: rgb(115, 158, 104);
}
.inspectbox {
    color: black;
    padding: 0% 1%;
    margin: 0% 3%;
    font-size: 1.7vw;
    border: 1px solid black;
    background-color: rgb(134, 134, 128);
}
i {
    color: wheat;
}

.box4 {
    width: 75%;
    padding: 0% 0% 2% 0%;
    margin: 0vw 1vw;
    border: 4px solid teal;
    border-radius: 15%;
    text-align: center;
    background-color: rgba(77, 52, 52, 0.78);
}

pre {
    white-space: pre-wrap;
}
